* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
/* semantic elements */

nav {
    display:flex;
    border:1px solid black;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: bisque;
}

aside {
    position: fixed;
    border: 2px solid black;
    left:0;
    top:0;
    height:100vh;
    width:8rem;
    background-color: aquamarine;      
}
/* aside Area */
.photo-Background{
    border:1px solid black;
    height:8rem;
}
.aside-Main{
    border: 1px solid black;
    height:9rem;
}
.aside-Admin{
    border:1px solid black;
    height: 9rem;
}
.aside-Categories{
    display: flex;
    flex-direction: column;
    border:1px solid black;
    height:8rem;
}
.select-Wrapper{
    display: flex;
}

/* main- stats area  */
.title-Area {
    border: 1px solid black;
    position: fixed;
    left:8rem;
    height:5rem;
    width:100vw;
}




.title-A-Widgets {
    border:1px solid black; 
    position: fixed;
    right: 86px;
    top: 65px;
    width: 19rem;
    height: 3rem; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;



}
.page-Tabs {
    display: flex;
    position: fixed;
    top:168px;
    width: 59rem;
    justify-content: space-between;
    font-size: x-small; 
    margin-left: 3rem;  
}
.stats-Main{
 position: fixed;
 height: 16rem;
 width: 100vw;
 left: 8rem;
 top: 12rem;
}
.circle-Graph {
 height:16rem;
 margin-left: 4rem;
 
}
.bar-Graph {
	height: 15rem;
	position: fixed;
	left: 50rem;
	top: 215px;
 	width: 26rem; 
}
.photo-Divider{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    margin-top: 1rem;
}
/* infoArea below */
.job-Discription {
	height: 3rem;
	border:1px solid black;
	position: fixed; 
	top: 29rem;
	left: 8rem;
	width: 100vw;
	height: 23rem;
	background-color: lightcyan;
	overflow: auto;
}
.info-One{
	border:1px solid red;
	width:57%;
	
}
.job-Header{
	display: flex;
	border:1px solid purple;
	height:3rem;
	justify-content: flex-start;
	align-items: center;
	background-color: navy;
	color: white; 
}
.edit-Btn{
	margin-left:2rem;
}
.personal-Info{
	margin-left:2rem;
	height: 100vh;
	background-color: antiquewhite;
}
.position-T {
	margin-left: 3rem;
}
.fact-Wrap {
	display: flex;
	
	margin-top: 2rem;
	justify-content: center;
}
.fact-Wrap > h2 {
	margin-left: -20rem;
}
.fact-Wrap > h3 {
	margin-left: 4rem;
	align-items: center; 
} 
.descript-Sect{
 height: 10rem;
 display: flex;
}
.para-Wrapper{
	
	margin-left: 3rem;
	width: 24rem;
}
.hidden {
    display:none;
}