/* colors */
/* dark: #1C315E #227C70 
medium #88A47C 
light: #E6E2C3 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
/* semantic elements */

nav {
    display:flex;
    border:1px solid black;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:#227C70;
}
/* nav Area */
.widget-Area{
    width: 22rem;
    margin-right:-12rem;
    display: flex;
    justify-content: space-around;
}
.nav-Widget-Wrap {
    border: solid;
    width: 4rem;
    display: flex;
    justify-content: center;
    background-color: #E6E2C3;
}
.nav-Widget,
.search-Mag {
    height:2rem;
}
.search-Bar{
    height: 3rem;
    width: 28rem;
    margin-left: -12rem;
}
.search-Mag{
    position:relative
}
aside {
    position: fixed;
    border: 2px solid black;
    left:0;
    top:0;
    height:100vh;
    width:8rem;
    background-color: #1C315E;
    display: flex;  
    flex-direction: column;
    align-items: center;
    color: white
}
/* aside Area */
.photo-Background{
    height:8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo-Background > h2{
    font-size: 16px;
}

.aside-Categories,
.aside-Admin,
.aside-Main{
    height:12rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.select-Wrapper{
    display: flex;
}
.profile-Img{
display: flex;
}
.head-Shot {
    height: 7rem;
    width: 5rem;
    border-radius: 81%;
    margin-top: 1rem;
}
.aside-Widget{
    height:20px;
}
.widget-container{
display: flex;
}
.widget-container-Two{
    display: flex;
    width: 19rem;
    flex-direction: row;
}
/* main- stats area  */
.title-Area {
    position: fixed;
    left:8rem;
    height:5rem;
    width:100vw;
}

.title-Intro > h2{
    font-size: medium;
}
.display-Widget{
    height:20px;
}
.widget-Display-Wrapper{
    border:solid;
    display: flex;
    align-items: center;
    width: 3rem;
    justify-content: center;
    border-radius: 84%;
}

.title-A-Widgets {
    /* border:1px solid black;  */
    position: fixed;
    right: 86px;
    top: 65px;
    width: 19rem;
    height: 2rem; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;



}
.page-Tabs {
    display: flex;
    position: fixed;
    top:168px;
    width: 59rem;
    justify-content: space-between;
    font-size: x-small; 
    margin-left: 3rem;  
    
}
.stats-Main{
 position: fixed;
 height: 16rem;
 width: 100vw;
 left: 8rem;
 top: 12rem;
 
}
.circle-Graph {
 height:16rem;
 margin-left: 4rem;
 
}
.bar-Graph {
	height: 15rem;
	position: fixed;
	left: 50rem;
	top: 215px;
 	width: 26rem; 
    backGround-color: rgb(239, 240, 242)
}
.photo-Divider{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    margin-top: 1rem;
}
/* infoArea below */
.job-Discription {
	border:1px solid black;
	position: fixed; 
	top: 29rem;
	left: 8rem;
	width: 100vw;
	height: 100vh;
	overflow: auto;
}
.info-One{ 
	width:57%;
    overflow: auto;
	
}
.job-Header{
	display: flex;
	height:3rem;
	justify-content: flex-start;
	align-items: center;
	background-color: #1C315E;
    width: 40rem;
    margin-left: 4rem;
    margin-top: 1rem;
	color: white; 
}
.edit-Btn{
	margin-left:2rem;
}
.personal-Info{
    margin-left: 4rem;
    height: 16rem;
    width: 40rem;
    background-color: antiquewhite;
    overflow-y: scroll;
    
}

.fact-Wrap {
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
    align-items: center;
    border:solid; 
}

.fact-Wrap > h3 {
	margin-left: 2rem;
	align-items: center;
} 
.description-Sect{
 height: 10rem;
 display: flex;
}
.para-Wrapper {
	margin-left: 5rem;
	width: 17rem;
}
.face-Pic {
    height:3rem;
    border-radius: 80%;
}
/* contact Area  */
.contact-Area {
    height: 8rem;
    width: 23rem;
    position: fixed;
    left: 63rem;
    bottom: 28rem;
    top: 30rem;
}
.press-Boxes {
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-Wrapper {
     height: 3rem;
     width: 21rem;
     color: white;
    background-color: #227C70;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.contact-Widget{
    height:2rem;
    margin-left:1rem;
}
.information-Sources{
    height: 8rem;
    margin-top: 3rem;
    overflow-y: auto;
}
.info-Box{
    margin-bottom: 3rem; 
}
