* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
/* semantic elements */

nav {
    display:flex;
    border:1px solid black;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: bisque;
}

aside {
    position: fixed;
    border: 2px solid black;
    left:0;
    top:0;
    height:100vh;
    width:13rem;
    background-color: aquamarine;      
}
/* aside Area */
.photo-Background{
    border:1px solid black;
    height:8rem;
}
.aside-Main{
    border: 1px solid black;
    height:9rem;
}
.aside-Admin{
    border:1px solid black;
    height: 9rem;
}
.aside-Categories{
    display: flex;
    flex-direction: column;
    border:1px solid black;
    height:8rem;
}
.select-Wrapper{
    display: flex;
}

/* main- stats area  */
.title-Area {
    border: 1px solid black;
    height:8rem;
    width:100vw;
}
.title-A-Widgets {
    border:1px solid black; 

}
.page-Tabs {
    border:1px solid black; 
}



.hidden {
    display:none;
}